.App {
  text-align: center;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;

  .form-container {
    padding: 45px 0;
    margin: auto;
    border-radius: 16px;
    // background-color: rgb(235, 235, 235);
    background-color: rgb(249, 249, 249);
    width: 50%;

    .form {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 60%;
      margin: 0 auto 16px;

      .form-label {
        display: flex;
        margin-bottom: 4px;
      }

      .form-data {
        margin-bottom: 16px;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid gray;
        min-width: 150px;
      }
    }
  }
}
