.books {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
  width: 80%;
  margin: auto;

  .book {
    padding: 32px;
    margin: auto;
    border: 1px dashed black;
    border-radius: 8px;

    .container {
      .content {
        img.cover {
          width: 150px;
          height: 200px;
          object-fit: cover;
          background-color: #ffeef4;
        }

        .book-detail {
          text-decoration: none;
          color: brown;

          &:hover {
            color: green;
          }
        }
      }
    }
  }
}
